*{
    box-sizing: border-box;
}

html{
    scrollbar-width: thin;
    scrollbar-color: rgb(123, 123, 123) rgba(131, 255, 238, 0.344);
}
body{
    background-image: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
main{
    min-height: 80vh !important;
    animation: entry 1s ease-in-out;
}
@keyframes entry {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.navbar-toggler{
    padding: 0.25rem 0.5rem ;
    font-size: 0.875rem;
    border: none;
}
.glass-card{
    background-color: rgba(255, 255, 255, 0.174);
}

#preview img{
    cursor: pointer;
}
#preview .upload-banner{
    cursor: pointer;
    backdrop-filter: blur(40px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
#preview .upload-banner:hover{
    opacity: 1;
}

#search-results{
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition : all 0.2s ease-in-out
}