body{
    background-image: url("/images/backgrounds/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
.card-body{
    cursor: pointer;
}
article .card{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(120px);
    transition: all 0.2s ease-in-out;
}
article .card-footer{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}
.selected{
    z-index: 999;
    scale: 1.1;
}
#go-up{
    margin: 18px;
}
#posts-table{
    --bs-table-bg: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(120px);
}

th,td{
    text-align: center;
    white-space: nowrap;
}
@media screen and (max-width:700px){
    td button, td a{
        margin: 5px 0 !important;
    }
    th{
        font-size: 0.8rem;
        
    }
    td{
        font-size: 0.9rem;
    }
}
.table-img{
    width: 40px;
    height: 40px;
    z-index: 500;
}
.img-preview{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.752);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}
