body{
    background-image: url("https://wallpapercave.com/wp/wp11581097.jpg");
    background-size: cover;
    background-position: center;
}
.card{
    transition: all 0.2s ease-in-out;
}
.card-body{
    cursor: pointer;
}
article .card{
    backdrop-filter: blur(10px);
}
article .card-footer{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}

#go-up{
    bottom: 18px;
    right: 18px;
}